.section {
    margin-top: 50px;
    margin-bottom: 50px;
}

.link {
    color: var(--second-color);
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    transition: 600ms;
}

.link:hover {
    opacity: 0.7;
    transition: 600ms;
}